<form id="new_record" class="slick-form" method="post" action="">
	<input type="hidden" name="_post_type" value="new_record">
	<div class="input-fields">
		<label>username</label><input type="text" id="input-formname" name="recordname" class="placeholder" placeholder="表名" autocomplete="off">
        <a href="####" class="plus-button">+</a>
	</div>
	<div class="input-fields">
		<input type="text" id="input-name1" name="name1" class="placeholder" placeholder="段名" autocomplete="off" value="账号">
		<input style="display:none">
		<input type="text" id="input-value1" name="value1" class="placeholder" placeholder="内容" autocomplete="off">
		<div class="checkbox-holder">
			<input type="checkbox" id="checkbox-encrypt1" name="encrypt1"><label for="checkbox-encrypt1"></label>
		</div>
        <a href="####" class="plus-button">+</a>
	</div>


	<div class="input-fields">
		<input type="text" id="input-name2" name="name2" class="placeholder" placeholder="段名" autocomplete="off" value="密码">
		<input style="display:none">
		<input type="password" id="input-value2" name="value2" class="placeholder" placeholder="内容" autocomplete="off">
		<div class="checkbox-holder">
			<input type="checkbox" checked=1 id="checkbox-encrypt2" name="encrypt2" value="1"><label for="checkbox-encrypt2"></label>
		</div>
        <a href="####" class="plus-button">+</a>
	</div>


	<div class="input-fields">
		<input type="text" id="input-name3" name="name3" class="placeholder" placeholder="段名" autocomplete="off" value="URL">
		<input style="display:none">
		<input type="text" id="input-value3" name="value3" class="placeholder" placeholder="内容" autocomplete="off">
		<div class="checkbox-holder">
			<input type="checkbox" id="checkbox-encrypt3" name="encrypt3"><label for="checkbox-encrypt3"></label>
		</div>
        <a href="####" class="plus-button">+</a>
	</div>

	<br><input type="button" onclick="FormSubmit()" value="新建"/>
</form>
